@model IEnumerable<WebApplication1.Models.THUONGHIEUXE>

@{
    ViewBag.Title = "IndexTHUONGHIEU";
    Layout = "~/Areas/admin/Views/Shared/user-admin.cshtml";
}

<h2>THƯƠNG HIÊU XE</h2>

<p>
    @Html.ActionLink("Thêm Mới", "CreateTH")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENTHUONGHIEU)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENTHUONGHIEU)
        </td>
        <td>
            @Html.ActionLink("Cập nhật", "EditTH", new { id=item.MATHUONGHIEU.Trim() }) |
            @Html.ActionLink("Xem chi tiết", "DetailsTH", new { id=item.MATHUONGHIEU.Trim() }) |
            @Html.ActionLink("Xóa", "DeleteTH", new { id=item.MATHUONGHIEU.Trim() })
        </td>
    </tr>
}

</table>
